asn1crypto==0.22.0
cffi==1.10.0
cryptography==2.0.3
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
ndg-httpsclient==0.4.3
pyOpenSSL==17.2.0
pyasn1==0.1.7
pycparser==2.13
requests==2.18.4
setuptools==36.4.0
signing-clients==1.3.2
six==1.10.0
